h1{
	font-family: Georgia, serif;
	border-bottom: solid 1px;
	letter-spacing: 1.4px;
    font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
#body1{
	text-align: center;
	color: purple;
	background-color:red;
}
li{
	text-align: center;
	margin: 0 0 5px 0;
}
img{
	text-align: center;
	width:500px;
	height: 500px;
}
#img1{
	text-align: center;

	width:6%;
	height: 6%;
}
#img_header{
	text-align: center;
	width:400px;
	height: 600px;
}


p{
	text-align: center;
    text-indent: 1em;
    letter-spacing: .25px;
}
section{
	text-align: center;
	margin-right: 20px;
	margin-left:  20px;
}